<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row">
    <%= render 'topics/left_bar' %>
    <div class="col-md-7 p-3 list-group">
      <h4>Thread list</h4>
      <% @category_topics.each do |topic| %>
        <div class="list-group-item list-group-item-action">
          <%= link_to topic.title, topic_path(topic) %>
        </div>
      <% end %>
    </div>

    <%= render 'topics/right_bar' %>
  </div>
</div>